.pagination{
  text-align: center;
  padding: 20px;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

th, td {
border: 1px solid #ddd;
padding: 10px;
}

th {
background-color: #19af4d;
color: white;
}


.pagin {
margin-top: 20px;
display: flex;
align-items: center;
text-align: center;
margin-left: 700px;
}

button {
padding: 10px;
margin: 0 5px;
cursor: pointer;
border-radius: 10px;
background-color: #19af4d;
color: white;
}

.curr-page {
  height: 50px;
  width: 40px;
  background-color: #19af4d;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}